/BlackFire.xcodeproj/project.pbxproj
/BlackFire.xcodeproj/project.xcworkspace/contents.xcworkspacedata
/BlackFire.xcodeproj/project.xcworkspace/xcuserdata/jabwd.xcuserdatad/UserInterfaceState.xcuserstate
/BlackFire.xcodeproj/xcuserdata/jabwd.xcuserdatad/xcschemes/BlackFire.xcscheme
/BlackFire.xcodeproj/xcuserdata/jabwd.xcuserdatad/xcschemes/xcschememanagement.plist